<%= form_for(@announce) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.textarea :title, placeholder: "输入标题" %>
  <%= f.text_area :content, placeholder: "发布新公告" %>
</div>
<%= f.submit "发布", class: "btn btn-primary" %>
<% end %>
