<% provide(:title, @topic.title) %>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
     <%= render 'panel/author_panel', content: @topic %>
      <div class="panel-body">
        <p><%= @topic.content %></p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <%= render 'panel/edit_delete', item: @topic %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'comments/show' %>
  </div>
  <div class="col-md-3">
    <%= render 'panel/user_info' %>
  </div>
</div>
