<div class="row">
    <ul class="nav nav-list">
      <li><%= link_to '系统用户管理', admin_users_path %></li>
      <li><%= link_to '公告管理', admin_announces_path %></li>
      <li><%= link_to '课件管理', admin_coursewares_path %></li>
      <li><%= link_to '实验管理', admin_experiments_path %></li>
      <li><%= link_to '作业管理', admin_homeworks_path %></li>
      <li><%= link_to '班级管理', admin_stuclasses_path %></li>
      <li><%= link_to '话题管理', admin_topics_path %></li>
      <li><%= link_to '问答管理', admin_questions_path %></li>
    </ul>
</div>
