<div class="panel panel-default">
  <div class="panel-body">
    <div class="media-left">
      <%= user_avatar @user %>
    </div>
    <div class="media-body">
      用户名：<%= @user.name %><br/>
      邮箱：<%= @user.email %><br/>
      身份：<%= user_type @user.type %><br/>
      <% if @user.stuclass_id.present? %>
        班级：<%= Stuclass.find(@user.stuclass_id).scname %><br/>
        学号：<%= @user.sid %><br/>
      <% end %>
    </div>
  </div>
</div>
