<% provide(:title, '我的作业') %>
<div class="row">
<div class="col-md-9">
<div class="panel panel-default">
  <div class="panel-heading">
    <%= current_user.name %>
  </div>
  <table class="table table-striped">
    <tr>
      <td>用户名</td>
      <td>学号</td>
      <td>班级</td>
      <td>是否批改</td>
      <td>分数</td>
      <!-- <% if teacher? %>
      <td>下载</td>
      <% end %> -->
    </tr>
    <% @stuhomeworks.each do |stuhomework| %>
    <tr>
      <td><%= stuhomework.user.name %></td>
      <td><%= stuhomework.user.sid %></td>
      <td><%= stuhomework.user.sclass %></td>
      <td><%= stuhomework.ischecked %></td>
      <td><%= stuhomework.mark %></td>
      <td><a href="#{<%= stuhomework.stuhomeworkfile %>}">下载作业</a></td>
    </tr>
    <% end %>
  </table>
</div>
</div>
<div class="col-md-3">
  <%= render 'panel/user_info' %>
</div>
</div>
