<div class="panel panel-default">
  <div class="panel-heading">
    学生作业修改
  </div>
  <div class="panel-body">
    <%= form_for [:admin, @stuhomework] do |f| %>
      <label>用户名</label>
      <input class="form-control" type="text" readonly="value" value="<%= @stuhomework.user.name %>">
      <label>学号</label>
      <input class="form-control" type="text" readonly="value" value="<%= @stuhomework.user.sid %>">
      <label>班级</label>
      <input class="form-control" type="text" readonly="value" value="<%= Stuclass.find(@stuhomework.user.stuclass_id).scname %>">
      <%= f.label :stuhomeworkfile, '作业文件' %>
      <%= f.file_field :stuhomeworkfile, class: 'form-control' %>
      <%= f.label :ischecked, '是否批改' %>
      <%= f.select(:ischecked, options_for_select([['是', true], ['否', false]])) %>
      <%= f.label :mark, '分数' %>
      <%= f.text_field :mark, class: 'form-control' %>
      <%= f.label :remark, '评语' %>
      <%= f.text_area :remark, class: 'form-control' %>
      <%= f.submit '保存修改', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
