<div class="panel panel-default">
  <div class="panel-heading">学生作业列表</div>
  <table class="table">
    <tr>
      <td>用户名</td>
      <td>学号</td>
      <td>班级</td>
      <td>附件</td>
      <td>是否批改</td>
      <td>分数</td>
    </tr>
    <% @stuhomeworks.each do |stuhomework| %>
      <tr>
        <td><%= stuhomework.user.name %></td>
        <td><%= stuhomework.user.sid %></td>
        <td><%= stuhomework.user.sclass %></td>
        <td><%= link_to '查看附件', stuhomework.stuhomeworkfile.to_s %></td>
        <td><%= stuhomework.ischecked ? '是' : '否'%></td>
        <td><%= stuhomework.mark %></td>
        <td>
          <%= link_to edit_admin_homework_stuhomework_path(@homework, stuhomework) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %> |
          <%= link_to admin_homework_stuhomework_path(@homework, stuhomework), method: :delete, data: { confirm: '确定要删除么' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @stuhomeworks %>
</div>
