<div class="panel panel-default">
  <div class="panel-heading">问题列表</div>
  <table class="table">
    <tr>
      <td>问题标题</td>
      <td>内容</td>
      <td>发布者</td>
      <td>答案</td>
      <td>是否解决</td>
    </tr>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.user.name %></td>
        <td><%= link_to '点击查看', admin_question_answers_path(question) %></td>
        <td><%= question.issolved ? '是' : '否' %></td>
        <td><%= render 'admin/panel/edit_delete', obj: question %></td>
    </tr>
  <% end %>
  <%= paginate @questions %>
</table>
</div>
