<% provide(:title, @homework.title) %>
<div class="row">
  <div class="col-md-9">

    <div class="panel panel-default">
      <%= render 'panel/author_panel', content: @homework %>
          <div class="panel-body">
        <p><%= sanitize @homework.description %></p>
        <small>本次作业班级：</small>
        <% @homework.stuclasses.each do |stuclass| %>
          <small><%= stuclass.scname %></small>
        <% end %>
        <br/>
        <a href="<%= @homework.homeworkfile %>">下载作业</a>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <%= render 'panel/edit_delete', item: @homework %>
          </div>
        </div>
      </div>

    </div>
    <%= render 'stuhomeworks/show' %>
  </div>
  <div class="col-md-3">
    <%= render 'panel/user_info' %>
    <%= render 'panel/study_resources' %>
  </div>
</div>
