<% provide(:title, '班级') %>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        班级列表
      </div>
      <ul class="list-group">
        <% @stuclasses.each do |stuclass| %>
          <li class="list-group-item">
          <%= link_to stuclass.scname, stuclass %>
          <span style="float: right">
              <%= link_to edit_stuclass_path(stuclass) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %> |
              <%= link_to stuclass, method: :delete, data: { confirm: '确定要删除么' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
          </span>
          </li>
        <% end %>
      </ul>
    </div>
    <%= paginate @stuclasses %>
  </div>
  <div class="col-md-3">
    <%= render 'panel/user_info' %>
    <% if teacher_admin? %>
      <%= render 'panel/new_stuclass' %>
    <% end %>
  </div>
</div>
