<div class="panel panel-default">
  <div class="panel-heading">
    用户信息修改
  </div>
  <div class="panel-body">
    <%= form_for [:admin, @user] do |f| %>
      <%= f.label :name, '用户名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email, '邮箱' %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.label :type, '身份' %>
      <%= f.select :type, ["Student", "Teacher", "AdminUser"].collect { |s| [ s ] }, include_blank: true %>
      <%= f.label :sid, '学号' %>
      <%= f.text_field :sid, class: 'form-control' %>
      <%= f.label :stuclass_id, '班级' %>
      <%= f.select :stuclass_id, Stuclass.all.collect { |s|[ s.scname, s.id ] }, include_blank: true %>
      <%= f.submit '保存修改', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
