<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
<!---引用application.css-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!--引用application.js-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--避免跨站请求(CSRF)伪造攻击-->
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
<!---布局中添加闪现的消息-->
      <% if logged_in? && student? %>
        <% if current_user.sid.blank? || current_user.stuclass_id.blank? %>
          <div class="alert alert-warning">请尽快将您的个人信息填写完整</div>
        <% end %>
      <% end %>
      <% unless logged_in? %>
          <div class="alert alert-warning">您还没有登录</div>
      <% end %>
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
